<template>
    <div>
        <div 
            v-if="!listView" 
            class="product-card d-flex flex-column justify-content-between mb-4"
        >
            <div class="img-container mb-3">
                <img :src="require(`../../public/${product.image}`)" :alt="product.name">
            </div>
            <h2 class="text-muted text-center"> 
                {{product.name.toUpperCase() }} 
            </h2>
            <div class="d-flex flex-wrap justify-content-center align-items-center">
                <span 
                    class="m-1" 
                    :class="validPrice"
                > 
                    R${{ priceTag(product.price) }} 
                </span>
                <span 
                    v-show="product && product.specialPrice" 
                    class="price m-1"
                > 
                    R${{ priceTag(product.specialPrice) }} 
                </span>
            </div>
            <button @click="challengeMessage" class="cta-btn d-none d-md-block py-2 px-3"> 
                COMPRAR 
            </button>
        </div>
        <div v-else class="list-card d-flex mb-4">
            <div class="img-container mb-3">
                <img :src="require(`../../public/${product.image}`)" :alt="product.name">
            </div>
            <div class="container">
                <h2> 
                    {{product.name.toUpperCase() }} 
                </h2>
                <p class="text-muted d-none d-md-block"> Tamanhos disponiveis: P, M, G</p>
                <h3>Descrição:</h3>
                <p class="text-muted description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna 
                    aliqua.Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <span 
                            class="m-1" 
                            :class="validPrice"
                        > 
                            R${{ priceTag(product.price) }} 
                        </span>
                        <span 
                            v-show="product && product.specialPrice" 
                            class="price m-1"
                        > 
                            R${{ priceTag(product.specialPrice) }} 
                        </span>
                    </div>
                    <button 
                        @click="challengeMessage" 
                        class="cta-btn d-none d-md-block py-2 px-3 mx-3"
                    > 
                        COMPRAR 
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { challengeMessage } from "../utils";

export default {
    name: 'ProductCard.vue',
    props: {
        product: Object,
        listView: Boolean
    },
    computed: {
        validPrice () {
            return this.product && !this.product.specialPrice 
                ? 'price' 
                : 'old-price text-muted'
        }
    },
    methods: {
        challengeMessage,
        priceTag(price) {
            return price ? price.toFixed(2).toString().replace('.', ',') : null
        }
    }

}
</script>

<style lang='scss'>
.product-card {
    max-width: 200px;
    .img-container {
        border: 1px solid lightgray;
        border-radius: 2px;
        max-width: 200px;
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            @media (max-width: 320px) {
                height: 140px;
            }
            @media (min-width: 321px) and (max-width: 768px) {
                height: 160px;
            }
            @media (min-width: 769px) and (max-width: 1024px) {
                height: 180px;
            }
        }
    }
    h2 {
        min-height: 50px;
        font-size: 20px;
        @media (max-width: 320px) {
            font-size: 16px;
        }
    }
    .price {
        color: $primary;
        font-weight: 800;
        font-size: 22px;
        @media (max-width: 320px) {
            font-size: 18px;
        }
    }
    .old-price {
        text-decoration: line-through;
        font-size: 20px;
        @media (max-width: 320px) {
            font-size: 16px;
        }
    }
    .cta-btn {
        width: 100%;
        border: none;
        border-radius: 4px;
        font-weight: 800;
        background-color: $secondary;
        color: white;
    }
    .cta-btn:hover {
        background-color: $aqua;
    }
    .cta-btn:active {
        transform: scale(0.9);
    }
}
.list-card {
    .img-container {
        border: 1px solid lightgray;
        border-radius: 2px;
        max-width: 200px;
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            @media (max-width: 320px) {
                height: 140px;
            }
            @media (min-width: 321px) and (max-width: 768px) {
                height: 160px;
            }
            @media (min-width: 769px) and (max-width: 1024px) {
                height: 180px;
            }
        }
    }
    h2 {
        font-size: 20px;
        @media (max-width: 767px) {
            font-size: 18px;
            color: gray !important;
        }
    }
    h3 {
        font-size: 18px;
        @media (max-width: 320px) {
            font-size: 14px;
        }
    }
    p {
        @media (max-width: 768px) {
            font-size: 12px;
        }
    }
    .description {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 500px;
        @media (max-width: 768px) {
            max-width: 120px;
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            max-width: 300px;
        }
    }
    .price {
        color: $primary;
        font-weight: 800;
        font-size: 22px;
        @media (max-width: 320px) {
            font-size: 18px;
        }
    }
    .old-price {
        text-decoration: line-through;
        font-size: 20px;
        @media (max-width: 320px) {
            font-size: 16px;
        }
    }
    .cta-btn {
        width: 200px;
        border: none;
        border-radius: 4px;
        font-weight: 800;
        background-color: $secondary;
        color: white;
    }
    .cta-btn:hover {
        background-color: $aqua;
    }
    .cta-btn:active {
        transform: scale(0.9);
    }    
}
</style>